<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dp.wang">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppQuizzz"
        tools:targetApi="31">
        <activity
            android:name=".AddQuestionActivity"
            android:exported="false" />
        <!-- MainActivity: Màn hình chính, cần exported=true vì có intent-filter -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- QuizActivity: Không cần truy cập từ bên ngoài, exported=false -->
        <activity
            android:name=".QuizActivity"
            android:exported="false" /> <!-- UploadQuestions: Chỉ dùng để lưu dữ liệu cục bộ, exported=false -->
        <activity
            android:name=".UploadQuestions"
            android:exported="false" />
    </application>

</manifest>